<!-- Main Footer -->
<footer class="main-footer style-two">
    <!--Waves end-->
    <div class="auto-container">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">
                <!-- Column -->
                <div class="big-column col-lg-6 col-md-12 col-sm-12">
                    <div class="row clearfix">
                        <!-- Footer Column -->
                        <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                            <div class="footer-widget logo-widget">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="includes/images/logo-2.webp" alt="CalliArc-logo" />
                                    </a>
                                </div>
                                <div class="text"> CalliArc is one of the leading Software Development Company
                                    founded in 2009, providing Enterprise Solutions and Consulting Services. </div>
                                <!-- Social Box -->
                                <ul class="social-box">
                                    <li>
                                        <a href="https://www.facebook.com/SmartDriveLabs" class="fa fa-facebook-f"
                                            title="visit our facebook page"></a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/company/CalliArc/" class="fa fa-linkedin"
                                            title="visit our linkedin page"></a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/smartdrivelabs" class="fa fa-twitter"
                                            title="visit our twitter page"></a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/CalliArc/" class="fa fa-instagram"
                                            title="visit our instagram page"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Footer Column -->
                        <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h5>Quick Links</h5>
                                <ul class="list-link">
                                    <li>
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li>
                                        <a href="about.html">About Us </a>
                                    </li>
                                    <li>
                                        <a href="hrms.html">Products</a>
                                    </li>
                                    <li>
                                        <a href="services.html">Services</a>
                                    </li>

                                    <li>
                                        <a href="portfolio.html">Portfolio</a>
                                    </li>
                                    <!-- <li><a href="">Pricing</a></li> -->
                                    <li>
                                        <a href="clients.html">Clients</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contact Us</a>
                                    </li>
                                    <li>
                                        <a href="privacy-policy.html">privacy-policy</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="big-column col-lg-6 col-md-12 col-sm-12">
                    <div class="row clearfix">
                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget news-widget">
                                <h5>Get A Quote</h5>
                                <!-- Footer Column -->
                                <div class="">
                                    <div class="">
                                        <div class=""></div>
                                        <h6>
                                            <a href="contact.html" style="color: white">We would love to hear
                                                from you.</a>
                                        </h6>
                                        <span class="date" style="color: #f4f4f4"> Business queries ? <br /> Product
                                            suggestions ? <br /> Customer support ? </span>
                                        <br />
                                        <h6 style="color: white"> Drop us a line and we will get back to you within
                                            24 business hours. </h6>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget contact-widget">
                                <h5>Contact Us</h5>
                                <ul>
                                    <li style="width: 350px;">
                                        <span class="icon flaticon-placeholder-2"></span>
                                        <strong>Address</strong> CalliArc<br># 20-3-4/B, Siva Jyothi Nagar, Opp. Srivari Sannidi Lane, Tirupati, Andhra Pradesh, India - 517501
                                    </li>
                                    <li>
                                        <span class="icon flaticon-phone-call"></span>
                                        <strong>Phone</strong>
                                        <a href="tel:+919700285457">+91 97002 85457</a><br>
										<a href="tel:+919440007447">+91 94400 07447</a>

                                    </li>
                                    <li>
                                        <span class="icon flaticon-email-1"></span>
                                        <strong>E-Mail</strong>
                                        <a href="mailto:contact@calliarc.com" style="text-transform: lowercase;">contact@calliarc.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="row clearfix">
                    <!-- Column -->
                    <div class="column col-lg-6 col-md-12 col-sm-12">
                        <div class="copyright"> Copyright &copy; 2023 CalliArcAll Rights
                            Reserved. </div>
                    </div>
                    <!-- Column -->
                    <div class="column col-lg-6 col-md-12 col-sm-12">
                        <ul class="footer-nav">
                            <li>
                                <a href="about.html">About Us</a>
                            </li>
                            <li>
                                <a href="services.html">Services</a>
                            </li>
                            <li>
                                <a href="privacy-policy.html">privacy-policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>