<!-- Header Top -->
<div class="header-top">
    <div class="auto-container">
        <div class="clearfix">
            <!-- Top Left -->
            <div class="top-left">
                <!-- Info List -->
                <ul class="info-list">
                    <li>
                        <a href="mailto:info@sdlglobe.com" style="text-transform: lowercase;">
                            <span class="icon flaticon-email"></span>career@sdlglobe.com </a>
                    </li>
                    <li>
                        <a href="tel:+918035893531" id="num">
                            <span class="icon flaticon-telephone"></span>+91 8025714488 / +91 8023414488 </a>
                    </li>
                </ul>
            </div>
            <!-- Top Right -->
            <div class="top-right pull-right">
                <!-- Social Box -->
                <ul class="social-box">
                    <li>
                        <a href="https://www.facebook.com/SmartDriveLabs" class="fa fa-facebook-f"
                            title="visit our facebook page"></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/smartdrivelabs" class="fa fa-twitter"
                            title="visit our twitter page"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/sdlglobe/" class="fa fa-instagram"
                            title="visit our instagram page"></a>
                    </li>
                    <li>
                        <a href=" https://www.linkedin.com/company/sdlglobe/" class="fa fa-linkedin"
                            title="visit our linkedin page"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>